.outer-slider-box {
  position: relative;
  top: 25%;
  height: 230px;
  background: rgba(255, 255, 255, .75);
  border-radius: 20px;
}

.title {
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
