.inner-slider-box {
  position: relative;
  top: 5%;
  left: 5%;
  width: 90%;
}

.box-title {
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.outer-slider-box {
  position: relative;
  top: 25%;
  height: 230px;
  background: rgba(255, 255, 255, .75);
  border-radius: 20px;
}

.github-logo {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.github-logo, img {
  opacity: 0.75;
}

html, body, #root, #background {
  height: 100%;
  position: fixed;
}
