.inner-slider-box {
  position: relative;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 20%;
}

.box-title {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.outer-slider-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 230px;
  background: rgba(255, 255, 255, .8);
  border-radius: 25px;
}

html, body, #root, #background {
  width: 100%;
  height: 100%;
}
